body{
    background: #17182c;
}
.auth-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 380px;
    text-align: center;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s ease-in-out;
}

.auth-input:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.auth-label {
    text-align: left;
    font-size: 14px;
    margin-bottom: -10px;
}

.auth-button {
    padding: 12px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.auth-button:hover {
    background: #0056b3;
}

.auth-text {
    font-size: 14px;
}

.auth-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.auth-link:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

@media (max-width: 400px) {
    .auth-container {
        width: 90%;
    }
}
