<body ng-app="carRentalApp">
 <app-navbar active-state="carDetails"></app-navbar>

  <div ng-controller="CarDetailsController as vm" ng-init="vm.init()">
    <main class="container-fluid" style="margin-top: 70px;">
      <!-- Top Section -->
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <uib-carousel active="vm.activeSlide" interval="0" no-wrap="false">
                <uib-slide ng-repeat="img in vm.carImages track by $index" index="$index">
                  <img ng-src="{{img}}" alt="Car Image {{$index+1}}" style="width:100%; height:400px; object-fit:cover;">
                </uib-slide>
              </uib-carousel>
              
              <div class="row">
                <div class="col-xs-12">
                  <div style="overflow-x:auto; white-space:nowrap; padding:10px 0;">
                    <img
                      ng-repeat="img in vm.carImages track by $index"
                      ng-src="{{img}}"
                      style="width:80px; height:60px; object-fit:cover; margin:0 5px; cursor:pointer;"
                      ng-class="{'border-primary': $index === vm.activeSlide}"
                      ng-click="vm.activeSlide = $index"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Right Column - Car Details -->
        <div class="col-md-6">
          <uib-accordion close-others="false">
            <!-- Basic Details Panel -->
            <div uib-accordion-group class="panel-primary" is-open="true">
              <uib-accordion-heading>
                <i class="glyphicon glyphicon-info-sign"></i> Basic Details
              </uib-accordion-heading>
              <div class="row">
                <div class="col-sm-6">
                  <h3>{{vm.car.vehicle_model}}</h3>
                  <p><i class="glyphicon glyphicon-map-marker"></i> <strong>Location:</strong> {{vm.car.location}}</p>
                  <p><i class="glyphicon glyphicon-tag"></i> <strong>Base Price:</strong> Rs {{vm.car.pricing.basePrice}} /day</p>
                  <p><i class="glyphicon glyphicon-calendar"></i> <strong>Availability:</strong> {{vm.car.availability}}</p>
                </div>
                <div class="col-sm-6">
                  <p><i class="glyphicon glyphicon-list"></i> <strong>Features:</strong> {{vm.car.features}}</p>
                  <p><i class="glyphicon glyphicon-road"></i> <strong>Kilometer Limit/Day:</strong> 100Kms</p>
                  <p><i class="glyphicon glyphicon-dashboard"></i> <strong>Extra Kilometer Rate:</strong> 10Rs/Kms</p>
                </div>
              </div>
            </div>

            <!-- Bidding Panel -->
            <div uib-accordion-group class="panel-success" is-open="true">
              <uib-accordion-heading>
                <i class="glyphicon glyphicon-usd"></i> Bidding Information
              </uib-accordion-heading>
              <div class="text-center">
                <h4>Current Highest Bid</h4>
                <h3>
                  <span ng-if="vm.highestBid" class="label label-success">Rs {{vm.highestBid}}</span>
                  <span ng-if="!vm.highestBid" class="label label-default">No bids yet</span>
                </h3>
                <button class="btn btn-primary" ng-click="vm.openBidModal()">
                  <i class="glyphicon glyphicon-plus"></i> Place Bid
                </button>
              </div>
            </div>

            <!-- Terms & Conditions -->
            <div uib-accordion-group is-open="true">
              <uib-accordion-heading>
                <i class="glyphicon glyphicon-file"></i> Terms & Conditions
              </uib-accordion-heading>
              <ul class="list-group">
                <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Daily kilometer limit of 100 KMs</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Additional charges of Rs.10 per extra KM</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Fuel charges not included</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-ok"></i> Valid driver's license required</li>
              </ul>
            </div>
          </uib-accordion>
        </div>
      </div>
    </main>

   
    <script type="text/ng-template" id="bidModalTemplate.html">
      <div class="modal-header">
        <button type="button" class="close" ng-click="closeBidModal()">&times;</button>
        <h3 class="modal-title">Place Your Bid</h3>
      </div>
      <div class="modal-body">
        <div ng-if="vm.errorMessage" class="alert alert-danger">
          <i class="glyphicon glyphicon-exclamation-sign"></i> {{vm.errorMessage}}
        </div>
        <div ng-if="vm.successMessage" class="alert alert-success">
          <i class="glyphicon glyphicon-ok-sign"></i> {{vm.successMessage}}
        </div>
        <form name="bidForm" novalidate>
          <div class="alert" ng-class="{'alert-info': !vm.bidData.isOutstation, 'alert-warning': vm.bidData.isOutstation}">
            <i class="glyphicon glyphicon-info-sign"></i>
            Minimum bid amount: Rs {{vm.bidData.minPriceCurrent}}
            <span ng-if="vm.bidData.isOutstation"> (Outstation rate)</span>
          </div>

          <div class="form-group" ng-class="{'has-error': bidForm.bidAmount.$invalid && bidForm.bidAmount.$touched}">
            <label for="bidAmount">Your Bid Amount (Rs)</label>
            <div class="input-group">
              <span class="input-group-addon">₹</span>
              <input
                type="number"
                id="bidAmount"
                name="bidAmount"
                class="form-control"
                ng-model="vm.bidData.bidAmount"
                min="{{vm.bidData.minPriceCurrent}}"
                placeholder="Enter bid amount"
                required
              />
            </div>
            <div ng-messages="bidForm.bidAmount.$error" ng-if="bidForm.bidAmount.$touched" class="help-block">
              <div ng-message="required">Bid amount is required</div>
              <div ng-message="min">Bid must be at least Rs {{vm.bidData.minPriceCurrent}}</div>
              <div ng-message="number">Please enter a valid number</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group" ng-class="{'has-error': bidForm.bidStartDate.$invalid && bidForm.bidStartDate.$touched}">
                <label for="bidStartDate">Booking Start Date:</label>
                <div class="flatpickr-wrapper">
                  <div class="input-group">
                    <input
                      type="text"
                      id="bidStartDate"
                      name="bidStartDate"
                      class="form-control flatpickr-input"
                      ng-model="vm.bidData.bidStartDate"
                      date-range-validator="start"
                      start-date="vm.bidData.bidStartDate"
                      end-date="vm.bidData.bidEndDate"
                      placeholder="Select start date"
                      data-input
                      required
                    />
                    <span class="input-group-addon" data-toggle>
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                  </div>
                </div>
                <div ng-messages="bidForm.bidStartDate.$error" ng-if="bidForm.bidStartDate.$touched" class="help-block">
                  <div ng-message="required">Start date is required</div>
                  <div ng-message="dateRangeValid">Start date must not be in the past</div>
                </div>
              </div>

              <div class="form-group" ng-class="{'has-error': bidForm.bidEndDate.$invalid && bidForm.bidEndDate.$touched}">
                <label for="bidEndDate">Booking End Date:</label>
                <div class="flatpickr-wrapper">
                  <div class="input-group">
                    <input
                      type="text"
                      id="bidEndDate"
                      name="bidEndDate"
                      class="form-control flatpickr-input"
                      ng-model="vm.bidData.bidEndDate"
                      date-range-validator="end"
                      start-date="vm.bidData.bidStartDate"
                      end-date="vm.bidData.bidEndDate"
                      placeholder="Select end date"
                      data-input
                      required
                    />
                    <span class="input-group-addon" data-toggle>
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                  </div>
                </div>
                <div ng-messages="bidForm.bidEndDate.$error" ng-if="bidForm.bidEndDate.$touched" class="help-block">
                  <div ng-message="required">End date is required</div>
                  <div ng-message="dateRangeValid">End date must be after start date</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>
                  <input
                    type="checkbox"
                    ng-model="vm.bidData.isOutstation"
                    ng-change="vm.updateMinBidDisplay()"
                  /> Outstation Trip
                </label>
                <p class="help-block text-muted">Check this if you plan to travel outside the city</p>
              </div>

              <div class="form-group" ng-if="!vm.isUserHasGovtId">
                <label for="driverLicense">Driver's License Number</label>
                <input
                  type="text"
                  id="driverLicense"
                  name="driverLicense"
                  class="form-control"
                  ng-model="vm.bidData.driverLicense"
                  required
                />
                <div ng-messages="bidForm.driverLicense.$error" ng-if="bidForm.driverLicense.$touched" class="help-block">
                  <div ng-message="required">Driver's license is required</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" 
                ng-click="submitBid(bidForm)" 
                ng-disabled="bidForm.$invalid">Submit Bid</button>
        <button class="btn btn-default" 
                ng-click="closeBidModal()">Cancel</button>
      </div>
    </script>
  </div>
</body>
